* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .main {
    display: flex;
    flex-direction: column;
}
img {
    width: 250px;
    border: 1px solid black;
    margin: 5px;
}
p {
    width: 250px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: antiquewhite;
    text-align: center;
} */
#thumbsnail {
    display: flex;
    margin-bottom: 20px;
}
#thumbsnail img {
    width: 150px;
    margin-right: 10px;
}
#preview img {
    width: 500px;
    margin-right: 10px;
}

